---
layout: main
title: Home
---
  <div class="box is-align-items-center has-fade-effect mb-2" id="section">
    <p class="title" style="text-align:center;">✏️ All Blog Posts</p>
    <div id="info">
      <p id="userAgent"></p>
      <p id="dateTime"></p>
      <noscript><p><i class="fas fa-circle-exclamation"></i>&nbsp;<strong>JavaScript is disabled, website may not work as intended.</strong></p></noscript>
    </div>
    <script type="text/javascript" src="{{ site.url }}/{{ site.baseurl }}/js/imgload.js"></script>
    <div class="columns">
      <div class="column">
      {% for post in paginator.posts %}
      <div class="box" id="list">
      <div class="columns">
          <div class="column is-one-third">
            <figure class="image is-16by9 is-skeleton" id="image{{ post.id }}">
              <img 
              src="{{ site.url }}/{{ site.baseurl }}/img/postmedia/{{ post.image }}"
              alt="{{ post.alt }}"
              title="{{ post.alt }}"
              class="post-image"
              onload="removeSkeleton('image{{ post.id }}')">
            </figure>
            </div>
          <div class="column">
        <p class="title is-4">{{ post.title }}</p>
        <p class="subtitle"></p>
          <nav class="level">
            <div class="level-left">
            <div class="level-item">
          <p class="subtitle is-6">{{ post.date | date_to_string }}</p>
          </div></div></nav>
        <p>{{ post.content | strip_html | truncatewords: 32 }}</p>
          </div>
        <div class="column is-narrow">
          <a class="button is-rounded" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Read post</a>
        </div>
        </div>
        </div>
        {% endfor %}
      </div>
     </div>

     <div class="box" id="list">
     <p class="subtitle" style="text-align:center;">{{ site.posts | size }} posts ꞏ Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
     {% if paginator.total_pages > 1 %}
     <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
       {% if paginator.previous_page %}
       <a class="pagination-previous" href="{{ paginator.previous_page_path | relative_url }}" title="Previous page"><i class="fas fa-chevron-left"></i></a>
       {% else %}
       <button class="pagination-previous" title="You're on the first page" disabled><i class="fas fa-chevron-left"></i></button>
       {% endif %}
       
       {% if paginator.next_page %}
       <a class="pagination-next" href="{{ paginator.next_page_path | relative_url }}" title="Next page"><i class="fas fa-chevron-right"></i></a>
       {% else %}
       <button class="pagination-next" title="You're on the last page" disabled><i class="fas fa-chevron-right"></i></button>
       {% endif %}
       
       <ul class="pagination-list">
        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li><a class="pagination-link is-current" aria-current="page">{{ page }}</a></li>
          {% elsif page == 1 %}
            <li><a class="pagination-link" href="{{ '/' | relative_url }}">{{ page }}</a></li>
          {% else %}
            <li><a class="pagination-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
     </nav>
     {% endif %}
    </div>
    </div>
    {% include footer.html %}
    </div>
    </div>
    </div>