---
layout: main
title: Notifications
---
<div class="box has-background-dark has-fade-effect">
  {% include noscript.html %}
  <section class="section">
  <div class="columns has-text-light">
    <div class="column">
    <h1 class="title has-text-light">Notifications</h1>
    <h2 class="subtitle has-text-light">Ways to get notified when there's a new blog post.</h2>
  </div>
  <div class="column is-narrow is-hidden-mobile">
    <i class="fas fa-bell fa-4x"></i>
  </div>
  </div>
  </section>
  </div>
  <br>
</div>
  <div class="container">
    <div class="columns">
      <div class="column">
    <div class="box has-background-dark">
      <p class="has-text-light pb-2" style="text-align:center;"><i class="fas fa-rss fa-4x"></i></p>
      <p class="has-text-light is-size-6">The Lynxmic Blog embraces RSS! The blog has an official feed located at {{ site.url }}{{ site.baseurl }}/{{ site.rss }} to which you can subscribe to with your preferred RSS reader.</p>
      </div>
      </div>
      <div class="column">
        <div class="box has-background-dark">
          <p class="has-text-light pb-2" style="text-align:center;"><i class="fab fa-discord fa-4x"></i></p>
          <p class="has-text-light is-size-6">Provided you're in the <a href="https://lynxmic.github.io/discord">Lynxmic Discord Server</a>, you can choose to have new blog posts delivered to you through Discord pings/mentions as well. Just navigate to the <i>role-assign</i> channel and select New Blog Posts.</p>
          </div>
      </div></div>
    </div>
    </div><br>
        {% include footer.html %}