<title>{{ page.title }} - {{ site.name }}</title>  
<link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}{{ site.favicon }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="title" content="{{ page.title }}">
  <meta name="description" content="{{ site.name }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ site.name }}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.favicon }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/bulma.min.css">