html, body {
    background-color: #363636;
    overflow-y: overlay;
    overflow-x: hidden;
     }
     @font-face {
        font-family: "asap-regular";
        src: url("https://lynxmic.github.io/css/fonts/asap/Asap-Regular.otf");
       }
  @font-face {
        font-family: "asap-bold";
        src: url("https://lynxmic.github.io/css/fonts/asap/Asap-Bold.otf");
       }
  @font-face {
        font-family: "asap-bold-italic";
        src: url("https://lynxmic.github.io/css/fonts/asap/Asap-BoldItalic.otf");
       }
  @font-face {
        font-family: "asap-italic";
        src: url("https://lynxmic.github.io/css/fonts/asap/Asap-Italic.otf");
       }
  @font-face {
        font-family: "asap-light";
        src: url("https://lynxmic.github.io/css/fonts/asap/Asap-Light.otf");
       }
  @font-face {
        font-family: "asap-light-italic";
        src: url("https://lynxmic.github.io/css/fonts/asap/Asap-LightItalic.otf");
       }
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
     }
::-webkit-scrollbar-track { 
   border-radius: 10px;
    }
::-webkit-scrollbar-thumb {
   background: #f5f5f5;
   border-radius: 10px;
    }
::-webkit-scrollbar-thumb:hover {
   background: #dbdbdb; 
    }
a:hover {
   color: white;
    }
.has-fade-effect {
    animation: fadein 0.5s;
      }
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
      }
.image {
    background-image: url("{{ page.image }}");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
       }
 p, h1, h2, h3, h4, ul, strong {
    color: white !important;
       }
 .title, .subtitle {
    font-family: "asap-light";
 }
