html, body {
    background: linear-gradient(-50deg, rgba(73, 85, 101, .5), rgba(48, 59, 74, .5));
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    height: 100vh;
    background-color: #363636;
    overflow-y: overlay;
    overflow-x: hidden;
     }
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
     }
::-webkit-scrollbar-track { 
   border-radius: 10px;
    }
::-webkit-scrollbar-thumb {
   background: #f5f5f5;
   border-radius: 10px;
    }
::-webkit-scrollbar-thumb:hover {
   background: #dbdbdb; 
    }
a:hover {
   color: white;
    }
div {
  animation: effect 0.3s ease-in-out;
    }
.has-fade-effect {
  animation: fadein 0.5s;
    }
@keyframes gradient {
     0% {
          background-position: 0% 50%;
        }
     50% {
          background-position: 100% 50%;
        }
     100% {
          background-position: 0% 50%;
        }
    }
@keyframes effect {
  from {top: -20px;}
  to {top: 0px;}
    }
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
    }
