html, body {
    background: linear-gradient(-50deg, rgba(117, 68, 119, .3), rgba(100, 52, 102, .3));
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    height: 100vh;
    background-color: #363636;
    overflow-y: overlay;
    overflow-x: hidden;
     }
@font-face {
      font-family: "asap-regular";
      src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-Regular.otf");
     }
@font-face {
      font-family: "asap-bold";
      src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-Bold.otf");
     }
@font-face {
      font-family: "asap-bold-italic";
      src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-BoldItalic.otf");
     }
@font-face {
      font-family: "asap-italic";
      src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-Italic.otf");
     }
@font-face {
      font-family: "asap-light";
      src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-Light.otf");
     }
@font-face {
      font-family: "asap-light-italic";
      src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-LightItalic.otf");
     }
@font-face {
      font-family: "timeburner-bold";
      src: url("https://lynxmic.github.io/blog/css/fonts/timeburner/timeburnerbold.ttf");
     }
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
     }
::-webkit-scrollbar-track { 
   border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
     background: rgba(215, 215, 215, .5);
     border-radius: 10px;
      }
  ::-webkit-scrollbar-thumb:hover {
     background: rgba(215, 215, 215, .7);
      }
  a {
        color: #519cd6;
         }
  a:hover {
        color: #70b5eb;
         }
  pre, code {
     background-color: #252525;
     color: #d7d7d7;
  }
div.container {
  animation: effect 0.3s ease-in-out;
    }
.has-fade-effect {
  animation: fadein 0.5s;
    }
@keyframes gradient {
     0% {
          background-position: 0% 50%;
        }
     50% {
          background-position: 100% 50%;
        }
     100% {
          background-position: 0% 50%;
        }
    }
@keyframes effect {
  from {top: -15px;}
  to {top: 0px;}
    }
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
    }
    .title, .subtitle {
      font-family: "asap-light";
   }
