<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <link href="{{ site.url }}{{ site.baseurl }}/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    {% include navbar.html %}
    {{ content }}
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/navbar.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/modal.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/backtotop.js"></script>
</body>
</html>

