<!DOCTYPE html>
<html lang="en" class="post">
<head>
  {% include head.html %}
  <link href="{{ site.url }}{{ site.baseurl }}/css/post.css" rel="stylesheet" type="text/css">
</head>

<body>
  {% include navbar.html %}
  {% include metadata.html %}
    <ul>
      <div class="content has-fade-effect is-hidden-mobile">
        <div class="container">
    <p>{{ content }}</p>
        </div>
      </div>
      <div class="content has-fade-effect is-hidden-tablet is-hidden-desktop mr-5 ml-5">
        <div class="container">
    <p>{{ content }}</p>
        </div>
      </div>
    </ul>
    {% include footer.html %}
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/navbar.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/modal.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/backtotop.js"></script>
</body>
</html>
